.bg-img1{
    background-color: #000;
    background-size: cover;
    height:500px;
    background-image: url(https://lh3.googleusercontent.com/Ooyj1vqzDjGRyPHlB4E7zMp6pnuJDhGGvmpW1f-FuiW31v6R8jAwaKj27LJstiG5sq3p65bMaHTaEgJPgeD1x-NiuQ=w640-h400-e365-rj-sc0x00ffffff);
}
.bg-img2{
    background-color: #000;
    background-size: cover;
    height:500px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS68XF98buOx3n31qC5gr9FCKMSrqpUgoYMVESiU1MvVg&s);
}
.bg-img3{
    background-color: #000;
    background-size: cover;
    height:500px;
    background-image: url(https://www.shutterstock.com/image-photo/dawn-over-snow-capped-mountains-600nw-2233176223.jpg);
}
